h1{color:black;
text-align:center;
font-family: Arial;
text-decoration: underline}
p{color:brown;
    font-size:18px;
    text-align:center;
    font-family:Verdana;
    text-decoration: italic;}
    body{background-color:blueviolet}